.chatbox{
    height: 75vh;
    background-color: #f1f5ff;
    position: relative;
    display: flex;
    flex-direction: column;
}
.chat-user{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.User-info{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    p{
        display: flex;
        gap: 5px;
        align-items: center;
    }
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-help{
    width: 35px;
    height: 35px;
}
.chat-msg{
    flex: 1;
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    flex-direction: column;
    overflow-y: scroll;
}
.chat-msg::-webkit-scrollbar{
  display: none;
}
.s-msg,.r-msg{
    display: flex;
    gap: 5px;
    align-items: end;
    justify-content: end;
    
}
.s-msg{

}
.r-msg{
    flex-direction: row-reverse;
    justify-content: start;
}
.msg{
    color: white;
    background-color: #077EFF;
    padding: 10px;
    border-radius: 5px ;
    max-width: 200px;
    margin-bottom: 20px;
}
.msg-img{
    margin-bottom: 20px;

    max-width: 230px;
    border-radius: 5px;
    object-fit: cover;
}
.msg-seen{
    img{
        aspect-ratio: 1/1;
        width: 20px;
        border-radius: 50%;
    }
    p{
        font-size: 12px;

    }
}




.chat-input{
    padding: 10px 20px;
    display: flex; 
    gap: 10px;  
   justify-content: space-between;
   align-items: center;
   background-color: white;
}
.chat-send{
    width: 100%;
    outline: none;
    border: none;
}
.icons{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.icon-img{
    width: 25px;
    padding-top: 2px;
    height: 25px;
    cursor: pointer;
}
.icon-send{
    width: 30px;
    height: 30px;
}